<div class="form-group">
    <label>Я обращался ранее и мои требования не были выполнены:</label>
    <la-radio-yes-no ng-model="document.biloObrashenieRanee.flag"
                     ng-change="document.biloObrashenieRanee.zamenaAnalogichnogoTovaraFlag = false;">
    </la-radio-yes-no>
</div>
<div class="form-group"
     ng-if="document.biloObrashenieRanee.flag">
    <div class="well">
        <div class="form-group">
            <div class="form-inline">
                <div class="form-group">
                    Дата обращения ранее:
                </div>
                <div class="form-group">
                    <input type="text"
                           la-date
                           class="form-control"
                           ng-model="document.biloObrashenieRanee.date"
                           required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox"
                       ng-model="document.biloObrashenieRanee.proverkaKachestva"
                       ng-change="document.biloObrashenieRanee.otsutstvieTovaraNaZamenu = false; document.biloObrashenieRanee.dostavkaSever = false;">
                Была установлена необходимость проверки качества
            </label>
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox"
                       ng-model="document.biloObrashenieRanee.otsutstvieTovaraNaZamenu"
                       ng-change="document.biloObrashenieRanee.proverkaKachestva = false; document.biloObrashenieRanee.dostavkaSever = false;">
                Было установлено отсутствие товара для замены
            </label>
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox"
                       ng-model="document.biloObrashenieRanee.dostavkaSever"
                       ng-change="document.biloObrashenieRanee.proverkaKachestva = false; document.biloObrashenieRanee.otsutstvieTovaraNaZamenu = false;">
                Товар необходимо доставить в район Крайнего Севера и приравненную к нему местность
            </label>
        </div>
        <div class="form-group"
             ng-if="document.biloObrashenieRanee.neustoyka > 0">
            Вы можете потребовать неустойку в размере {{document.biloObrashenieRanee.neustoyka | rub}}

            <div>
                <label>Включить требование неустойки в заявление?</label>
                <la-radio-yes-no style="display: inline-block"
                                 ng-model="document.biloObrashenieRanee.trebovatNeustoyku">
                </la-radio-yes-no>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox"
                       ng-model="document.biloObrashenieRanee.zamenaAnalogichnogoTovaraFlag"
                       ng-change="document.biloObrashenieRanee.analogichniyTovarDate = document.biloObrashenieRanee.date">
                Я потребовал предоставить аналогичный товар на период замены,
                но моё требование не было выполнено
            </label>
        </div>
        <div ng-if="document.biloObrashenieRanee.zamenaAnalogichnogoTovaraFlag">
            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group">
                        Дата обращения ранее (аналогичный товар):
                    </div>
                    <div class="form-group">
                        <input type="text"
                               la-date
                               class="form-control"
                               ng-model="document.biloObrashenieRanee.analogichniyTovarDate"
                               required>
                    </div>
                </div>
            </div>
            <div ng-if="document.biloObrashenieRanee.analogichniyTovarNeustoyka > 0">
                Вы можете потребовать неустойку в размере {{document.biloObrashenieRanee.analogichniyTovarNeustoyka | rub}}

                <div>
                    <label>Включить требование неустойки в заявление?</label>
                    <la-radio-yes-no style="display: inline-block"
                                     ng-model="document.biloObrashenieRanee.analogichniyTovarTrebovatNeustoyku">
                    </la-radio-yes-no>
                </div>
            </div>
        </div>
    </div>
</div>