<div class="row">
    <div class="col-xs-4">
        <div class="form-group">
            <label>ФИО Покупателя: </label>
            <input type="text"
                   class="form-control"
                   ng-model="document.pokupatel.value"
                   required
                   placeholder="Иванов Иван Иванович">
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
            <label>Адрес Покупателя: </label>
            <input type="text"
                   class="form-control"
                   ng-model="document.addressPokupatel.value"
                   required
                   placeholder="394088, г. Воронеж, ул. Уличная 1а, 33">
        </div>
    </div>
</div>