<la-wizard-step>
    <h3>Данные о купленном товаре</h3>
    <div class="row">
        <div class="col-lg-5 col-md-6 col-xs-12">
            <div class="form-group form-group-lg">
                <label>Наименование товара: </label>
                <input type="text"
                       class="form-control"
                       ng-model="components.naimenovanieTovara.value"
                       required
                       placeholder="Микроволновая печь Samsung G43">
            </div>
        </div>
        <div class="col-lg-7 col-md-6 col-xs-12">
            <div class="form-group form-group-lg">
                <label>Место совершения покупки (адрес + название): </label>
                <input type="text"
                       class="form-control"
                       ng-model="components.mestoPokupki.value"
                       required
                       placeholder="г. Воронеж, ул. Уличная 3, тц Глобус">
            </div>
        </div>
    </div>
</la-wizard-step>

<la-wizard-step>
    <h3>Данные о купленном товаре</h3>
    <div class="row">
        <div class="col-lg-9 col-md-12 col-xs-12">
            <div class="form-group form-group-lg">
                <label>Суть претензии по качеству: </label>
                <textarea class="form-control"
                          ng-model="components.sutPretenzii.value"
                          rows="5"
                          required
                          placeholder="Пожалуйста, опишите Вашу проблему кратко и по существу. Например, микроволновая печь работает не исправно. Она выключается раньше таймера."></textarea>
            </div>
        </div>
    </div>
</la-wizard-step>

<la-wizard-step>
    <h3>Данные о купленном товаре</h3>    
    <div class="form-group form-group-lg">
        <label>Была ли ранее проведена проверка качества (экспертиза)? </label>
        <la-radio-yes-no ng-model="components.proverkaKachestva.isSelected"
                         required>
        </la-radio-yes-no>
    </div>
    <div class="row" ng-if="components.proverkaKachestva.isSelected">
        <div class="col-lg-9 col-md-12 col-xs-12">
            <div class="form-group form-group-lg">
                <label>Опишите кратко основную информацию: </label>
                <textarea class="form-control"
                          ng-model="components.proverkaKachestva.value"
                          rows="5"
                          required
                          placeholder="Экспертное учреждение, дата оценки, итоги оценки"></textarea>
            </div>
        </div>
    </div>            
</la-wizard-step>

<la-wizard-step>
    <h3>Данные о купленном товаре</h3>
    <!--<div class="form-group">
        <label>Документ, подтверждающий факт покупки, имеется</label>
        <la-radio-yes-no ng-model="components.imeetsyaLiDokument.value">
        </la-radio-yes-no>
    </div>-->
    <div class="form-group">
        <label>Некачественный товар предоставляется одновременно с подачей настоящего требования</label>
        <la-radio-yes-no ng-model="tovarOdnovremenno.isSelected">
        </la-radio-yes-no>
    </div>
    <la-alert-info ng-if="tovarOdnovremenno.isSelected === false">
        Продавец/изготовитель имеет право получить товар для проведения
        экспертизы после Вашего обращения.
    </la-alert-info>
    <la-alert-info ng-if="tovarOdnovremenno.isSelected === true">
        Вам необходимо предоставить
        товар самому вместе с подачей настоящего Требования
    </la-alert-info>
</la-wizard-step>