<div class="la-social-icon clearfix">
    <a class="social-icon si-rounded si-dark si-vk js-share-site-vk" title="Вконтакте">
        <i class="la-icon-vk"></i>
        <i class="la-icon-vk"></i>
    </a>
    <a class="social-icon si-rounded si-dark si-ok js-share-site-ok" title="Одноклассники">
        <i class="la-icon-ok"></i>
        <i class="la-icon-ok"></i>
    </a>
    <a class="social-icon si-rounded si-dark si-mail-ru js-share-site-mail-ru" title="MailRu">
        <i class="la-icon-mail-ru"></i>
        <i class="la-icon-mail-ru"></i>
    </a>
    <a class="social-icon si-rounded si-dark si-facebook js-share-site-facebook" title="Facebook">
        <i class="la-icon-facebook"></i>
        <i class="la-icon-facebook"></i>
    </a>
    <a class="social-icon si-rounded si-dark si-twitter js-share-site-twitter" title="Twitter">
        <i class="la-icon-twitter"></i>
        <i class="la-icon-twitter"></i>
    </a>
</div>