@model LA.BusinessLogic.Models.Document

<span id="doc-data-json"
      class="hidden">
    @Html.Raw(Json.Encode(Model))
</span>

<div class="container" ng-controller="AppController">
    <div class="fancy-title title-bottom-border title-center nobottommargin"
         style="padding-top: 20px;">
        <h1>@Model.Name</h1>
    </div>   
    <div class="doc-form-container"
         ng-include="docUrl">        
    </div>    
</div>


@section scripts{
    @Scripts.Render("~/bundles/document")
}