<div class="form-group">
    <label>Я обращался ранее и мои требования не были выполнены:</label>
    <la-radio-yes-no [(ngModel)]="penyaModel.flag"
                     (ngModelChange)="penyaModel.zamenaAnalogichnogoTovaraFlag = false; calculateNeustoyka();">
    </la-radio-yes-no>
</div>
<div class="form-group"
     *ngIf="penyaModel.flag">
    <div class="well">
        <div class="form-group">
            <div class="form-inline">
                <div class="form-group">
                    Дата обращения ранее:
                </div>
                <div class="form-group">
                    <input type="text"
                           la-date
                           class="form-control"
                           [(ngModel)]="penyaModel.date"
                           (ngModelChange)="calculateNeustoyka()"
                           required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox"
                       [(ngModel)]="penyaModel.proverkaKachestva"
                       (ngModelChange)="penyaModel.otsutstvieTovaraNaZamenu = false; penyaModel.dostavkaSever = false; calculateNeustoyka();">
                Была установлена необходимость проверки качества
            </label>
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox"
                       [(ngModel)]="penyaModel.otsutstvieTovaraNaZamenu"
                       (ngModelChange)="penyaModel.proverkaKachestva = false; penyaModel.dostavkaSever = false; calculateNeustoyka();">
                Было установлено отсутствие товара для замены
            </label>
        </div>
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox"
                       [(ngModel)]="penyaModel.dostavkaSever"
                       (ngModelChange)="penyaModel.proverkaKachestva = false; penyaModel.otsutstvieTovaraNaZamenu = false; calculateNeustoyka();">
                Товар необходимо доставить в район Крайнего Севера и приравненную к нему местность
            </label>
        </div>
        <div class="form-group"
             *ngIf="penyaModel.neustoyka > 0">
            Вы можете потребовать неустойку в размере {{penyaModel.neustoyka | rub}}

            <div>
                <label>Включить требование неустойки в заявление?</label>
                <la-radio-yes-no style="display: inline-block"
                                 [(ngModel)]="penyaModel.trebovatNeustoyku">
                </la-radio-yes-no>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox"
                       [(ngModel)]="penyaModel.zamenaAnalogichnogoTovaraFlag"
                       (ngModelChange)="penyaModel.analogichniyTovarDate = penyaModel.date; calculateNeustoykaAnalogichniyTovar();">
                Я потребовал предоставить аналогичный товар на период замены,
                но моё требование не было выполнено
            </label>
        </div>
        <div *ngIf="penyaModel.zamenaAnalogichnogoTovaraFlag">
            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group">
                        Дата обращения ранее (аналогичный товар):
                    </div>
                    <div class="form-group">
                        <input type="text"
                               la-date
                               class="form-control"
                               [(ngModel)]="penyaModel.analogichniyTovarDate"
                               (ngModelChange)="calculateNeustoykaAnalogichniyTovar()"
                               required>
                    </div>
                </div>
            </div>
            <div *ngIf="penyaModel.analogichniyTovarNeustoyka > 0">
                Вы можете потребовать неустойку в размере {{penyaModel.analogichniyTovarNeustoyka | rub}}

                <div>
                    <label>Включить требование неустойки в заявление?</label>
                    <la-radio-yes-no style="display: inline-block"
                                     [(ngModel)]="penyaModel.analogichniyTovarTrebovatNeustoyku">
                    </la-radio-yes-no>
                </div>
            </div>
        </div>
    </div>
</div>