<la-wizard-step>
    <h3>Требование аналогичного товара на период замены</h3>
    <label>Я хочу потребовать аналогичный товар на период замены:</label>
    <la-radio-yes-no ng-model="tovarNaZamenuModel.flag"
                     ng-change="tovarNaZamenuModel.zamenyamiyTovarFlag = undefined; tovarNaZamenuModel.obladaetSvoystvami = undefined;">
    </la-radio-yes-no>
</la-wizard-step>

<div ng-if="tovarNaZamenuModel.flag">
    <la-wizard-step>
        <h3>Требование аналогичного товара на период замены</h3>
        <div class="form-group">
            <label>
                Включён ли некачественный заменяемый товар в ПЕРЕЧЕНЬ
                <a href="http://www.consultant.ru/document/cons_doc_LAW_17579/87e5413f153110f9529509bc465f7b49a12580ad/"
                   target="_blank">
                    (ссылка)
                </a>
                :
            </label>
            <la-radio-yes-no ng-model="tovarNaZamenuModel.zamenyamiyTovarFlag"
                             ng-change="tovarNaZamenuModel.obladaetSvoystvami = undefined;">
            </la-radio-yes-no>
        </div>

        <la-alert-warning ng-if="tovarNaZamenuModel.zamenyamiyTovarFlag === true">
            {{relatedData.alertNaZamenuTechSlozhniy}}
        </la-alert-warning>
    </la-wizard-step>

    <la-wizard-step ng-if="tovarNaZamenuModel.zamenyamiyTovarFlag === false">
        <div class="form-group">
            <label>Обладает ли аналогичный товар теми же потребительскими свойствами, что и заменяемый: </label>
            <la-radio-yes-no ng-model="tovarNaZamenuModel.obladaetSvoystvami">
            </la-radio-yes-no>
        </div>
        <la-alert-info>
            Под "потребительскими свойствами" понимается товар того же вида и типа.
            Пример - для холодильника определённого размера и с определённым типом двигателя
            схожими потребительскими свойствами будет обладать
            другой холодильник такого же размера и
            с тем же типом двигателя.
        </la-alert-info>
        <la-alert-warning ng-if="tovarNaZamenuModel.obladaetSvoystvami === false">
            {{relatedData.alertNaZamenuSvoistva}}
        </la-alert-warning>
    </la-wizard-step>

    <la-wizard-step ng-if="tovarNaZamenuModel.obladaetSvoystvami === true">
        <h3>Требование аналогичного товара на период замены</h3>

        <label>
            Укажите, какой товар вы хотите получить
            на <span class="color">период</span> процесса замены вашего
            некачетсвенного товара:
        </label>

        <div class="row">
            <div class="col-lg-5 col-md-7 col-xs-12">
                <div class="form-group form-group-lg">
                    <label>Товар</label>
                    <input type="text"
                           class="form-control"
                           ng-model="tovarNaZamenuModel.naimenovanieTovara"
                           required
                           placeholder="Микроволновая печь Samsung F43">
                </div>
            </div>
        </div>
    </la-wizard-step>      
</div>