<div>
    <form la-submit="getDoc()" novalidate>
        <fieldset>
            <legend>Сведения о замене</legend>
            <la-zamena-tovara (cannotProceed)="cannotProceed = $event"></la-zamena-tovara>
        </fieldset>
        <div *ngIf="!cannotProceed">
            <fieldset>
                <legend>Сведения об организации</legend>
                <la-organizaciya></la-organizaciya>                
            </fieldset>
            <fieldset>
                <legend>Сведения о покупателе</legend>
                <la-pokupatel></la-pokupatel>
            </fieldset>
            <fieldset>
                <legend>Данные о купленном товаре</legend>
                <la-tovar></la-tovar>
            </fieldset>
            <fieldset>
                <legend>Дополнительные сведения</legend>
                <!--Требование аналогичного товара на период замены-->
                <la-tovar-na-period-zameni></la-tovar-na-period-zameni>                
                <!--------------------------------------------------->

                <!--Обращался ранее и требования не были выполнены-->
                <la-penya [cenaTovara]="cenaTovara"></la-penya>
                <!-------------------------------------------------->                

                <!--Требование возместить убытки-->
                <la-ubitki></la-ubitki>
                <!-------------------------------->

                <la-data-documenta></la-data-documenta>
            </fieldset>

            <button type="button"
                    class="btn btn-primary btn-lg"
                    (click)="save()">
                Получить Документ
                <span class="glyphicon glyphicon-download-alt"></span>
            </button>                            
        </div>
    </form>
</div>