<div>
    <div class="dropdown-search" 
         ng-class="{'is-active': noResults && orgInfo, 'is-loading': loading}">        
        <input type="text"
               ng-model="orgInfo"
               placeholder="Начните вводить название, ИНН, ОГРН или адрес организации"
               uib-typeahead="info as info.value for info in searchOrg($viewValue)"
               typeahead-loading="loading"
               typeahead-no-results="noResults"
               typeahead-on-select="onOrgSelect();"
               typeahead-template-url="customInnTemplate.html"
               ng-blur="checkIsSelectFromList()"
               class="form-control"
               style="max-width: 100%"
               ng-required="isRequired"
               ng-disabled="isDisabled">
        <div>
            <i class="icon-refresh"></i>
            <ul class="dropdown-menu">
                <li class="text-center">
                    По Вашему запросу ничего не найдено
                </li>
            </ul>
        </div>
    </div>

    <script type="text/ng-template" id="customInnTemplate.html">
        <a>
            {{match.model.value}} <br/>
            {{match.model.data.inn}} {{match.model.data.address.value}}
        </a>        
    </script>
</div>
