<la-wizard-step>
    <h3>Сведения об организации</h3>
    <div class="form-group">
        <label>К кому обращаемся: </label> <br />
        <la-radio ng-repeat="option in components.komu.options"
                  ng-model="components.komu.value"
                  ng-value="option.value">
            {{option.key}}
            <la-hint hint="option.hint"></la-hint>
        </la-radio>
    </div>
</la-wizard-step>

<la-wizard-step>
    <h3>Сведения об организации</h3>
    <label>Введите название, ИНН, ОГРН или адрес организации:</label>
    <la-hint hint="relatedData.innTooltip"></la-hint>
    <la-inn inn="components.inn.value"
            ogrn="components.ogrn.value"
            name="components.nazvaniaOrganizaciya.value"
            address="components.addressOrganizaciya.value">
    </la-inn>
</la-wizard-step>