<la-wizard-step>
    <h3>Сведения об организации</h3>
    <div class="form-group">
        <label>К кому обращаемся: </label> <br />
        <la-radio ng-repeat="option in components.komu.options"
                  ng-model="components.komu.value"
                  ng-value="option.value">
            {{option.key}}
            <la-hint hint="option.hint"></la-hint>
        </la-radio>
    </div>
</la-wizard-step>

<la-wizard-step>
    <h3>Сведения об организации</h3>
    <label>Введите название, ИНН, ОГРН или адрес организации:</label>
    <la-hint hint="relatedData.innTooltip"></la-hint>
    <div class="row">
        <div class="col-lg-8 col-md-12 col-xs-12">
            <div class="form-group form-group-lg">
                <la-inn inn="components.inn.value"
                        ogrn="components.ogrn.value"
                        name="components.nazvaniaOrganizaciya.value"
                        address="components.addressOrganizaciya.value"
                        is-required="!components.inn.isNotFoundByAutocomplete"
                        is-disabled="components.inn.isNotFoundByAutocomplete">
                </la-inn>
            </div>
        </div>
        <div class="col-xs-4">
            <button type="button"
                    class="button button-3d button-rounded"
                    ng-click="components.inn.isNotFoundByAutocomplete = !components.inn.isNotFoundByAutocomplete">
                Не удалось найти?
            </button>
        </div>
    </div>
    <div ng-show="components.inn.isNotFoundByAutocomplete">
        <la-alert-info>
            Пожалуйста заполните поля вручную.
            ОГРН обязательно только для юридических лиц
            (для ИП не нужно).
        </la-alert-info>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="form-group form-group-lg">
                    <label>ИНН: </label>
                    <input type="text"
                           class="form-control"
                           ng-model="components.inn.value"
                           required
                           la-digit
                           placeholder="7709770002">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="form-group form-group-lg">
                    <label>ОГРН: </label>
                    <input type="text"
                           class="form-control"
                           ng-model="components.ogrn.value"
                           la-digit
                           placeholder="1077763747269">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="form-group form-group-lg">
                    <label>Название / ФИО к кому обращаемся: </label>
                    <input type="text"
                           class="form-control"
                           ng-model="components.nazvaniaOrganizaciya.value"
                           required
                           placeholder="ООО 'Домашний Интерьер'">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="form-group form-group-lg">
                    <label>Адрес к кому обращаемся: </label>
                    <input type="text"
                           class="form-control"
                           ng-model="components.addressOrganizaciya.value"
                           required
                           placeholder="109240, г. Москва, ул. Николоямская, д.14, стр.1">
                </div>
            </div>
        </div>
    </div>
</la-wizard-step>