<div class="wizard-step">
    <h3>Почти готово!</h3>
    <div class="row">
        <div class="col-lg-5 col-md-6 col-xs-12">
            <div class="form-group form-group-lg">
                <label>Дата составления претензии: </label>
                <input type="text"
                       la-date
                       class="form-control"
                       ng-model="components.docDate.value"
                       required>
            </div>            
        </div>
        <div class="col-lg-5 col-md-6 col-xs-12">
            <div class="form-group">
                <label>Ваш пол: </label>
                <la-radio-yes-no yes-text="Мужской"
                                 no-text="Женский"
                                 ng-model="components.pol.value">
                </la-radio-yes-no>
            </div>
        </div>
    </div>
</div>