<div class="form-group">
    <label>Меняем на товар: </label>
    <la-radio-yes-no [(ngModel)]="drugoyTovarFlag"
                     [yesText]="'Другой (другая модель, артикул)'"
                     [noText]="'Такой же'">
    </la-radio-yes-no>
    <!--<tps-hint hint="relatedData.drugoyTovarTooltip"></tps-hint>-->
</div>
<div class="form-group" *ngIf="drugoyTovarFlag">
    <div class="well">
        <div class="row">
            <div class="col-xs-4">
                <label>Модель (другой товар): </label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="drugoyModel"
                       required
                       placeholder="Микроволновая печь Samsung A35">
            </div>
            <div class="col-xs-6">
                <la-checkbox-with-input class="form-input-down"
                                        [(ngModel)]="drugoyArticul"
                                        [(flag)]="drugoyArticulSelected"
                                        placeholder="12312311">
                    Артикул (другой товар):
                </la-checkbox-with-input>
            </div>
        </div>
    </div>
</div>
<div>
    <label>
        Товар входит в Перечень 
        <a href="http://www.consultant.ru/document/cons_doc_LAW_121597/63df0c03a72c20f83fbac36216d643e24c7dc5cd/"
           target="_blank">
            (ссылка) 
        </a>
        технически сложных товаров: 
    </label>
    <la-radio-yes-no class="form-group"
                     [(ngModel)]="techSlozhniyTovar.flag"
                     (ngModelChange)="techSlozhniyTovar.pyatnadcatDney = false; techSlozhniyTovar.sluchay = false;">
    </la-radio-yes-no>

    <div class="well"
         *ngIf="techSlozhniyTovar.flag">
        <div class="form-group">
            <label>Прошло ли 15 дней с момента передачи товара потребителю? </label>
            <la-radio-yes-no [(ngModel)]="techSlozhniyTovar.pyatnadcatDney"
                            (ngModelChange)="techSlozhniyTovar.sluchay = false;">
            </la-radio-yes-no>
        </div>
        <div class="form-group"
             *ngIf="techSlozhniyTovar.pyatnadcatDney">
            <label>Выберите Ваш случай: </label>
            <div>
                <label class="radio-inline">
                    <input type="radio"
                           [(ngModel)]="techSlozhniyTovar.sluchay"
                           [value]="1">
                    Обнаружение существенного недостатка товара
                </label> <br />
                <label class="radio-inline">
                    <input type="radio"
                           [(ngModel)]="techSlozhniyTovar.sluchay"
                           [value]="2">
                    Нарушение установленных сроков устранения недостатков товара
                </label> <br />
                <label class="radio-inline">
                    <input type="radio"
                           [(ngModel)]="techSlozhniyTovar.sluchay"
                           [value]="3">
                    Невозможность использования товара в течение каждого года гарантийного срока в совокупности более чем тридцать дней
                </label> <br />
                <label class="radio-inline">
                    <input type="radio"
                           [(ngModel)]="techSlozhniyTovar.sluchay"
                           [value]="4">
                    Не один из данных случаев
                </label>
            </div>
        </div>
    </div>
    <div *ngIf="techSlozhniyTovar.sluchay == 4">
        <div class="alert alert-danger">
            К сожалению вы не можете потребовать заменить товар, т.к. 
            он является технически сложным, прошло 15 дней с момента получения 
            и Ваш случай не подходит не под один из описанных выше
        </div>
    </div>
</div>