<section id="slider" class="slider-parallax swiper_wrapper clearfix">
    <div class="slider-parallax-inner">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('images/home-banner.jpg'); background-position: center top;">
                    <div class="container clearfix">
                        <div class="slider-caption">
                            <h2 data-caption-animate="fadeInUp">
                                Юридическая помощь
                            </h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">
                                Помогаем быстро и просто создавать
                                документы для различных жизненных ситуаций.                                
                                <a href="#">Как это работает?</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>