<section id="home-title">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="heading-block title-center nobottomborder page-section">
                <h1 class="text-rotater" data-separator="|" data-rotate="flipInX" data-speed="4000">                                        
                    Создайте заявление - 
                    <span class="t-rotate color" style="display: none">верните деньги|защитите свои права</span>
                    <span class="t-rotate-on-start" style="visibility: hidden">верните деньги</span>
                </h1>                   
                <span>                    
                    Заполните форму - получите готовый для печати документ.
                    Это просто, <span class="color">бесплатно</span> и не требует юридической подготовки.
                </span>
            </div>
            <div>
                <ul class="process-steps process-4 clearfix">
                    <li>
                        <a class="i-circled i-alt divcenter bgcolor icon-bulb"></a>
                        <h5>Выберите Проблему</h5>                        
                    </li>
                    <li>
                        <a class="i-circled i-alt divcenter bgcolor icon-line-paper"></a>
                        <h5>Заполните Форму</h5>
                    </li>
                    <li>
                        <a class="i-circled i-alt divcenter bgcolor icon-like"></a>
                        <h5>Получите Готовое Заявление</h5>
                    </li>
                    <li>
                        <a class="i-circled i-alt divcenter bgcolor icon-line-head"></a>
                        <h5>Обратитесь к продавцу/поставщику услуг</h5>
                    </li>
                </ul>
            </div>
            <div class="center">
                <a class="button button-3d button-xlarge"
                   data-scrollto="#choose-problem">
                    <i class="icon-star3"></i>
                    Начать!
                </a>
            </div>
        </div>
    </div>
</section>

<section id="choose-problem" class="bottommargin-lg">
    @Html.Action("DocumentTree", "Document")    
</section>
