<div>
    <input type="checkbox"
           ng-model="flag"
           ng-change="onChange()"
           id="{{::randomId}}"
           class="checkbox-style">
    <label class="checkbox-style-3-label"
           for="{{::randomId}}" ng-transclude
           style="margin: 0 0 6px 0;">                
    </label>
    <input type="text"
           class="form-control"
           ng-model="ngModel"
           ng-change="onChange()"
           ng-disabled="!flag"
           ng-required="flag"
           placeholder="{{placeholder}}" />
</div>
