<div class="form-group">
    <label>К кому обращаемся: </label> <br />
    <label class="radio-inline"
           ng-repeat="option in document.komu.options">
        <input type="radio"
               ng-model="document.komu.value"
               value="{{option.value}}">
        {{option.key}}
        <la-hint hint="option.hint"></la-hint>
    </label>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-xs-6">
            <label>Введите название, ИНН, ОГРН или адрес организации:</label>
            <la-hint hint="relatedData.innTooltip"></la-hint>
            <la-inn inn="document.inn.value"
                    ogrn="document.ogrn.value"
                    name="document.nazvaniaOrganizaciya.value"
                    address="document.addressOrganizaciya.value"
                    is-required="!document.inn.isNotFoundByAutocomplete"
                    is-disabled="document.inn.isNotFoundByAutocomplete">
            </la-inn>
        </div>
        <div class="col-xs-6 form-input-down">
            <label class="checkbox-inline">
                <input type="checkbox"
                       ng-model="document.inn.isNotFoundByAutocomplete">
                Не удалось найти через подсказчик?
            </label>
        </div>
    </div>
</div>
<div ng-show="document.inn.isNotFoundByAutocomplete">
    <div class="alert alert-warning">
        Пожалуйста заполните поля вручную. ОГРН обязательно только для юридических лиц (для ИП не нужно).
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <label>ИНН: </label>
                <input type="text"
                       class="form-control"
                       ng-model="document.inn.value"
                       required
                       la-positive-int
                       placeholder="7709770002">
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>ОГРН: </label>
                <input type="text"
                       class="form-control"
                       ng-model="document.ogrn.value"
                       la-positive-int
                       placeholder="1077763747269">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <label>Название / ФИО к кому обращаемся: </label>
                <input type="text"
                       class="form-control"
                       ng-model="document.nazvaniaOrganizaciya.value"
                       required
                       placeholder="ООО 'Домашний Интерьер'">
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label>Адрес к кому обращаемся: </label>
                <input type="text"
                       class="form-control"
                       ng-model="document.addressOrganizaciya.value"
                       required
                       placeholder="109240, г. Москва, ул. Николоямская, д.14, стр.1">
            </div>
        </div>
    </div>
</div>  