<la-wizard-step>
    <h3>Давайте узнаем, можете ли Вы {{actionText}}</h3>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12">
            <label>
                Установлены ли специальные сроки:                                
            </label>   
            <br />
            (если никакие сроки не установлены, просто нажмите "Далее")         
        </div>
        <div class="col-lg-5 col-md-12 col-xs-12">
            <div class="form-group form-group-lg">
                <la-checkbox-with-input ng-model="specSrokiInfo.garantSrok"
                                        ng-change="checkSroki()"
                                        flag="specSrokiInfo.garantSrokIsSelected"
                                        validation="la-positive-int"
                                        placeholder="24">
                    Гарантийный срок / срок годности (месяцев)
                </la-checkbox-with-input>
            </div>
            <div class="form-group form-group-lg">
                <la-checkbox-with-input ng-model="specSrokiInfo.srokSluzhbi"
                                        ng-change="checkSroki()"
                                        flag="specSrokiInfo.srokSluzhbiIsSelected"
                                        validation="la-positive-int"
                                        placeholder="24">
                    Срок службы (месяцев)
                </la-checkbox-with-input>
            </div>
        </div>
    </div>
</la-wizard-step>

<la-wizard-step ng-if="specSrokiInfo.showNedostatkiFlag">
    <h3>Давайте узнаем, можете ли Вы {{actionText}}</h3>
    <label>
        Недостатки товара возникли по причинам, возникшим до передачи Вам товара?
    </label>
    <la-hint hint="'Данные обстоятельства поможет выявить экспертиза'"></la-hint>
    <la-radio-yes-no class="form-group"
                     ng-model="specSrokiInfo.nedostatkiFlag"
                     ng-change="checkSroki()">
    </la-radio-yes-no>
</la-wizard-step>


<la-wizard-step disabled="true" ng-if="!specSrokiInfo.success">
    <h3>Вы не можете {{actionText}}</h3>    
    <la-alert-danger>
        {{specSrokiInfo.errorMessage}}
    </la-alert-danger>
</la-wizard-step>