<la-wizard-step>
    <h3>Устранение недостатков</h3>
    <label>Сумма, понесённых на устранение недостатков расходов: </label>
    <div class="row">
        <div class="col-lg-4 col-md-5 col-xs-12">
            <div class="form-group form-group-lg">                
                <input type="number"
                       class="form-control"
                       ng-model="components.nedostatkiSumma.value"
                       required
                       placeholder="1520"
                       la-positive-int>
            </div>
        </div>
    </div>
</la-wizard-step>

<la-wizard-step>
    <h3>Устранение недостатков</h3>
    <div class="row">
        <div class="col-lg-9 col-md-12 col-xs-12">
            <div class="form-group form-group-lg">
                <label>Описание понесённых расходов: </label>
                <textarea class="form-control"
                          ng-model="components.nedostatkiOpisanie.value"
                          rows="5"
                          required
                          placeholder="Опишите подробно понесённые расходы - помимо затрат непосредственно на ремонт, здесь могут быть затраты на транспорт, исследование товара и т.д."></textarea>
            </div>
        </div>
    </div>
</la-wizard-step>

<la-wizard-step>
    <h3>Устранение недостатков</h3>  
    <div class="form-group form-group-lg">
        <label>
            Недостатки устраняли самостоятельно или их устраняло 3-е лицо?            
         </label>
        <la-radio-yes-no ng-model="orgInfo.isSelected"
                         no-text="Самостоятельно"
                         yes-text="3-е лицо">
        </la-radio-yes-no>
    </div>
    <la-alert-info>
        3-е лицо это какая-либо организация или ИП, 
        которые по договору устраняли недостатки товара.
        Если у вас нету чека или договора на оказание услуг,
        выберите опцию "Самостоятельно".
    </la-alert-info>           
</la-wizard-step>

<la-wizard-step ng-if="orgInfo.isSelected">
    <h3>Устранение недостатков</h3>  
    <label>Введите Название организации или ИП, которое устраняло недостатки: </label>
    <la-inn inn="orgInfo.inn"
            ogrn="orgInfo.ogrn"
            name="orgInfo.nazvaniaOrganizaciya"
            address="orgInfo.addressOrganizaciya">
    </la-inn>                     
</la-wizard-step>