<la-wizard-step>
    <h3>Укажите, пожалуйста, цену товара:</h3>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="form-group form-group-lg">
                <label>Цена товара (руб): </label>
                <input type="text"
                       class="form-control"
                       la-positive-int
                       ng-model="components.cenaTovara.value"
                       required
                       placeholder="3999"
                       ng-change="onPriceChange()">
            </div>
        </div>
    </div>
</la-wizard-step>

<la-wizard-step>
    <h3>Обращение ранее</h3>
    <label>Я обращался ранее и мои требования не были выполнены:</label> <la-hint hint="relatedData.obrashenieRaneeHint"></la-hint>
    <la-radio-yes-no ng-model="penyaModel.flag"
                     ng-change="penyaModel.zamenaAnalogichnogoTovaraFlag = false; calculateNeustoyka();">
    </la-radio-yes-no>
</la-wizard-step>

<la-wizard-step ng-if="penyaModel.flag">
    <h3>Обращение ранее</h3>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="form-group form-group-lg">
                <label>Дата обращения ранее:</label>
                <input type="text"
                       la-date
                       class="form-control"
                       ng-model="penyaModel.date"
                       ng-change="calculateNeustoyka()"
                       la-date-no-future                       
                       required>
            </div>
        </div>
    </div>

    <div class="form-group">
        <la-radio ng-model="penyaModel.proverkaKachestva"
                  ng-value="true"
                  ng-change="onReasonChange('proverkaKachestva');">
            Была установлена необходимость проверки качества
        </la-radio>
    </div>
    <div class="form-group">
        <la-radio ng-model="penyaModel.otsutstvieTovaraNaZamenu"
                  ng-value="true"
                  ng-change="onReasonChange('otsutstvieTovaraNaZamenu')">
            Было установлено отсутствие товара для замены
        </la-radio>
    </div>
    <div class="form-group">
        <la-radio ng-model="penyaModel.dostavkaSever"
                  ng-value="true"
                  ng-change="onReasonChange('dostavkaSever')">
            Товар необходимо доставить в район Крайнего Севера и приравненную к нему местность
        </la-radio>
    </div>
    <div class="form-group">
        <la-radio ng-model="penyaModel.drugayPrichina"
                  ng-value="true"
                  ng-change="onReasonChange('drugayPrichina')">
            Другое
        </la-radio>
    </div>

    <div>
        <la-validate-expression is-valid="isReasonSelected()">
            Пожалуйста, выберите одну из опций
        </la-validate-expression>
    </div>
</la-wizard-step>

<div ng-if="penyaModel.flag">
    <la-wizard-step ng-if="penyaModel.neustoyka > 0">
        <h3>Обращение ранее</h3>

        <la-alert-success>
            Вы можете потребовать неустойку в размере
            <strong>{{penyaModel.neustoyka | rub}}</strong>
            !!!
        </la-alert-success>

        <div>
            <label>Включить требование неустойки в заявление?</label>
            <la-radio-yes-no ng-model="penyaModel.trebovatNeustoyku">
            </la-radio-yes-no>
        </div>
    </la-wizard-step>

    <la-wizard-step>
        <h3>Обращение ранее</h3>
        <div class="form-group">
            <label>
                Я потребовал предоставить аналогичный товар на период замены,
                но моё требование не было выполнено
            </label>
            <la-radio-yes-no ng-model="penyaModel.zamenaAnalogichnogoTovaraFlag"
                             ng-change="penyaModel.analogichniyTovarDate = penyaModel.date; calculateNeustoykaAnalogichniyTovar();">
            </la-radio-yes-no>
        </div>
        <div class="row" ng-if="penyaModel.zamenaAnalogichnogoTovaraFlag">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="form-group form-group-lg">
                    <label>Дата обращения ранее:</label>
                    <input type="text"
                           la-date
                           class="form-control"
                           ng-model="penyaModel.date"
                           ng-change="calculateNeustoyka()"
                           required>
                </div>
            </div>
        </div>
    </la-wizard-step>

    <la-wizard-step ng-if="penyaModel.analogichniyTovarNeustoyka > 0">
        <h3>Обращение ранее</h3>
        <div ng-if="penyaModel.analogichniyTovarNeustoyka > 0">

            <la-alert-success>
                Вы можете потребовать неустойку в размере
                <strong>{{penyaModel.analogichniyTovarNeustoyka | rub}}</strong>
                !!!
            </la-alert-success>

            <div>
                <label>Включить требование неустойки в заявление?</label>
                <la-radio-yes-no ng-model="penyaModel.analogichniyTovarTrebovatNeustoyku">
                </la-radio-yes-no>
            </div>
        </div>
    </la-wizard-step>
</div>